{% extends 'base.html' %}

{% block title %}Register | Employee Management{% endblock %}

{% block content %}
<section class="panel">
    <h1>Create Account</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}


        <div class="actions" style="display: flex; gap: 10px; align-items: center; width: 100%;">
            <button type="submit">Register</button>
            <a class="button secondary" href="{% url 'login' %}">Login</a>


            <a class="button" href="/" style="margin-left: auto; text-decoration: none; display: inline-block; text-align: center;">
                Back
            </a>
        </div>
    </form>
</section>
{% endblock %}
